.btn_resume {
  font-weight: bold;
  background-color: #000;
  color: #cf1f1f;
  border: 1px solid #cf1f1f;
  margin-top: 16px;
  background: linear-gradient(to right, #000 50%, #cf1f1f 50%) left;
  background-size: 200%;
  transition: 300ms ease-out;
}

.btn_resume:hover {
  background-position: right;
  color: #fff;
  border: 0;
}

.contact {
  background-color: #000;
  color: #fff;
  background: linear-gradient(to left, #000 50%, #fff 50%) right;
  background-size: 200%;
  transition: 300ms ease-out;
}

.contact:hover {
  background-position: left;
  color: #000;
  border: 0;
}
